doctype html
html
    head
        title= "Interactive Whiteboard | Swapnil Amit Abhijeet Pritam"
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/lib/zepto.js')
        script(src='/javascripts/lib/paper.js')
        script(src='/javascripts/canvas.js', type="text/paperscript", canvas="myCanvas")
        script(src='/javascripts/custom.js')
    body
    h4 Realtime whiteboard - @Swapnil, Amit, Abhijeet, Pritam
    div(id="controls")
        div(id="userCountWrapper", style="opacity:0") artists:
            span(id="userCount")
        div(data-color="47,47,47", class="color", style="background:rgb(37,37,37);")
        div(data-color="109,73,37", class="color active", style="background:rgb(109,73,37);")
        div(data-color="233,34,41", class="color", style="background:rgb(233,34,41);")
        div(data-color="57,178,73", class="color", style="background:rgb(57,178,73);")
        div(data-color="247,219,31", class="color", style="background:rgb(247,219,31);")
        div(data-color="248,172,60", class="color", style="background:rgb(248,172,60);")
        div(data-color="142,42,140", class="color", style="background:rgb(142,42,140);")
        div(data-color="77,42,255", class="color", style="background:rgb(77,42,255);")
        div(data-color="255,255,255", class="color", style="background:rgb(0,0,0);")
        label Opacity
            input(type="range", min="0", max="255", value="255", id="opacity")
            input(id="words", type="text", name="user")
            input(id="inputWordsID", value="Submit", type='submit')
            input(id="doItID", value="Create Image", type='submit')
            div(id="imageID")
            input(type='submit', value='Clear Page', onClick="window.location.reload()", class="button")
canvas(id="myCanvas", resize="true")

    .wrap
      .head
        .burger
          .burger_line
          .burger_line
          .burger_line
        .center
          .head_left
            h5 Alexandr Volodin
            .head_left_img
          .head_right
            .head_right_img
            h5 Me
      .body
        .left
          figure.s-message
            figcaption
              span Alexandr
              | 12:35
              .dot
            p Hi, dude! How are you?)
          figure.left-message
            figcaption
              span Alexandr
              | 12:38
              .dot
            p Alexandr left conversation
        .right
          figure.u-message
            figcaption
              .dot_green
              span Me
              | 12:36
            p Where's my money?
      .footer
        .sending-message
          button
            | SEND
            svg#send-ico(viewbox='0 0 26.5 22.9')
              polygon(points='5.8,0 26.5,12.4 5.3,22.9 6.6,14.8 0,10.4 11.3,10.4 6.4,7.7 ')
          textarea.message-input(type='text', placeholder='Type message...')
      .line



